* {
  background-color: black;
  display: block;
  margin: auto;
}

.begin-button {
  background-color: white;
  color: red;
  font-size: 3rem;
  font-family: "Creepster", system-ui;
  margin: 10%;
  padding: 3%;
}
